body {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    background-color: #cdcdb2 !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: coral;
    height: 5%;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    max-width: 100%;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5%;
    gap: 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 40px;
    transition: 0.7s ease;
}

.navbar a:hover {
    background-color: brown;
    color: white;
}

.navbar img {
    width: 15px;
    height: 15px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    justify-content: right;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
        padding-top: 1%;
        padding-left: 1%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 30px;
        gap: 0;
        flex-direction: column;
        background-color: coral;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

.jumbotron {
    /* background-color: blue; */
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    color: white;
    background-image: url("images/pexels-suzyhazelwood-1153929.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.searchbox {
    text-align: center;
    position: relative;
}

.searchbar {
    background-color: white;
    margin: auto;
    margin-top: 1%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 70%;
    /* height: 30%; */
    border-radius: 40px;
    position: relative;
    border: 3px solid black;
    margin-bottom: 1vh;
}

.SearchIcon{
    width: 1em;
    height: 1em;
}

.searchbar input {
    position: relative;
    text-decoration: none;
    background: transparent;
    border: none;
    width: 100%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    /* border-top-right-radius: 40px;
    border-bottom-right-radius: 40px; */
    border-radius: 40px;
    padding-inline-start: 70px;
    outline: 0;
}

.searchbar input::placeholder {
    color: black;
    position: relative;
    font-size: 90%;
    overflow: hidden;
    /* left: 1rem; */
}

.searchbar button {
    position: absolute;
    background: transparent;
    width: 10%;
    height: 100%;
    transform: translateX(-1rem);
    border: 0;
    transition: transform .7s ease-in-out;
}

.searchbar button:hover {
    transform: rotate(90deg);
}

.SettingMenu {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.searchbtn {
    text-decoration: none;
    border-radius: 40px;
    transition: transform 1.0s ease-in-out;
}

.searchbtn:hover {
    transform: rotate(1deg);
    color: rgb(252, 252, 252);
    background-color: #858c8c;
}

.SettingMenu button{
    border: 0;
    background-color: transparent;
    transition: transform .7s ease-in-out;
}

.SettingMenu button:hover {
    transform: rotate(360deg);
}

.SettingIcon{
    width: 25px;
    height: 25px;
}

.OptionsButtonBox button{
    border: 0;
    background-color: transparent;
    transition: transform .7s ease-in-out;
}

.OptionsButtonBox button:hover {
    transform: rotate(360deg);
    background-color: rgba(0, 0, 0, 0.218);
    border-radius: 45px;
}

/* .list-options {
    width: 50%;
    height: 50%;
    background-color: lightblue;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.optionsbtn {
    background-color: #d2d2d2;
    width: 40px;
    height: 20px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.optionsbtn::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 200px;
    margin: 2.5px;
    transform: translateX(-20px);
    transition: 0.3s;
}

.option input {
    display: none;
}

input:checked + .optionsbtn {
    background-color: #37a2d0;
}

input:checked + .optionsbtn::before {
    transform: translateX(0px);
} */

select {
    position: relative;
}

.row {
    max-width: 100%;
    text-align: center;
}

.pageimgbox .pageimg {
    width: 20%;
}

.psbox {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.WordBox {
    display: grid;
    justify-items: center;
}

.table {
    margin-top: 1%;
    width: 80%;
    display: flex;
    justify-content: center;
}

table th{
    border: 2px solid black;
}

table tr{
    border: 2px solid black;
}

table td + td { 
    border-left:2px solid black;
}

.word {
    border: 1px solid black;
    width: 50%;
    padding: 1%;
    margin: 1% 0;
    background-color: rgba(152, 147, 147, 0.292);
}

.h2 {
    text-decoration: underline;
}

.wordbody {
    margin-top: 1%;
    border: 1px solid black;
    width: 80%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.292);
    margin-bottom: 1%;
}

.randomwordcontainer {
    display: flexbox;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.randomwordbox {
    margin: auto;
    background-color: blue;
    width: 80%;
    height: 50rem;
    align-self: center;
}

.randomgif {
    width: 40%;
    margin-top: 1%;
}

.ifempty {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.WordBox:empty + .ifempty {
    display: block;
}

.emptya {
    color: black;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 40px;
    transition: 0.7s ease;
}

.emptya:hover {
    background-color: brown;
    padding: 1%;
    color: white;
}

#form {
    margin-bottom: 2%;
}